body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  opacity: 0.9;
}
ul {
  list-style: none;
}

.navigation {
  align-items: center;
  background-color: black;
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
}

.navigation img {
  height: 50px;
}

.navigation .nav-links {
  justify-content: flex-end;
}
.navigation ul {
  display: inline-flex;
  width: 400px;
}
.navigation li {
  padding: 10px;
}
.navigation a {
  color: seashell;
}

.our-mission {
  background-image: url("/src/images/background.jpeg");
}

section .locations-section {
  background-image: url("/src/images/locations.jpeg");
}
